name: Build Windows EXE

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: pip install -r requirements.txt pyinstaller

      - name: Build EXE
        run: |
          pyinstaller --onefile --noconsole main.py
          mkdir output
          move dist\main.exe output\ImpressoraFull.exe

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: ImpressoraFull
          path: output/ImpressoraFull.exe
